In [26]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
heart_data = pd.read_csv('heart.csv')
heart_data = heart_data.dropna()

In [28]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1.0
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1.0
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1.0
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1.0
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1.0

In [29]:
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
306,63,0,0,1224,197,0,21,136,21,0.0,1,0,2,0.0
307,59,1,0,164,176,1,20,90,0,1.0,1,2,1,0.0
308,57,0,0,140,241,0,13,123,1,0.2,1,0,3,0.0
309,45,1,3,110,2264,0,13,132,0,12.2,1,0,3,0.0
310,68,1,0,144,193,1,1,1412,0,3.4,1,2,3,0.0

In [30]:
heart_data.shape

(310, 14)

In [31]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 0 to 310
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       310 non-null    int64
 1   sex       310 non-null    int64
 2   cp        310 non-null    int64
 3   trestbps  310 non-null    int64
 4   chol      310 non-null    int64
 5   fbs       310 non-null    int64
 6   restecg   310 non-null    int64
 7   thalach   310 non-null    int64
 8   exang     310 non-null    int64
 9   oldpeak   310 non-null    float64
 10  slope     310 non-null    int64
 11  ca        310 non-null    int64
 12  thal      310 non-null    int64
 13  target    310 non-null    float64
dtypes: float64(2), int64(12)
memory usage: 36.3 KB

In [32]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [33]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000,310.000000
mean,54.425806,0.683871,1.670968,135.238710,268.616129,0.216129,0.835484,164.593548,0.396774,1.092258,1.390323,0.732258,2.506452,0.532258
std,9.078549,0.465716,12.483314,64.463691,215.383945,1.236604,2.602345,136.742320,1.264651,1.334192,0.617362,1.022050,3.389250,0.499765
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.250000,0.000000,0.000000,120.000000,210.250000,0.000000,0.000000,133.250000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.500000,0.000000,1.000000,152.500000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.750000,0.000000,1.000000,166.750000,1.000000,1.750000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,220.000000,1224.000000,2362.000000,21.000000,31.000000,1444.000000,21.000000,12.200000,2.000000,4.000000,61.000000,1.000000

In [34]:
heart_data['target'].value_counts()

1.0    165
0.0    145
Name: target, dtype: int64

In [35]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [36]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
306   63    0   0      1224   197    0       21      136     21      0.0
307   59    1   0       164   176    1       20       90      0      1.0
308   57    0   0       140   241    0       13      123      1      0.2
309   45    1   3       110  2264    0       13      132      0     12.2
310   68    1   0       144   193    1        1     1412      0      3.4

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
306      1   0     2
307      1   2     1
308      1   0     3
309      1   0     3
310      1   2     3

[310 rows x 13 columns]

In [37]:
print(Y)

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
306    0.0
307    0.0
308    0.0
309    0.0
310    0.0
Name: target, Length: 310, dtype: float64

In [38]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [39]:
print(X.shape, X_train.shape, X_test.shape)

(310, 13) (248, 13) (62, 13)

In [40]:
nn_model = GradientBoostingClassifier(n_estimators=100,learning_rate=1.0,max_depth=1, random_state=0)
nn_model.fit(X_train, Y_train)
pred = nn_model.predict(X_train)
#accuracy = nn_model.predict_proba(X_train)
#print(pred ,  accuracy)
training_data_accuracy = accuracy_score(pred, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)
X_test_prediction = nn_model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Training data :  0.967741935483871
Accuracy on Test data :  0.7903225806451613

In [41]:
nn_model = SVC(  probability = True)
nn_model.fit(X_train, Y_train)
pred = nn_model.predict(X_train)
#accuracy = nn_model.predict_proba(X_train)
#print(pred ,  accuracy)
training_data_accuracy = accuracy_score(pred, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)
X_test_prediction = nn_model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Training data :  0.6209677419354839
Accuracy on Test data :  0.6774193548387096

In [42]:
model = LogisticRegression()
model.fit(X_train, Y_train)
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Training data :  0.8064516129032258
Accuracy on Test data :  0.8225806451612904

C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [43]:
input_data = (56,100,12,120,236,159,1,178,11,0.8,2,0,2)

In [44]:
input_data_as_numpy_array= np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
prediction = model.predict(input_data_reshaped)
print(prediction)
if (prediction[0]== 0):
    print('The Person does not have a Heart Disease')
else:
    print('The Person has Heart Disease')

[0.]
The Person does not have a Heart Disease

C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(